<h1>List of movie </h1>
<ul>
  <li *ngFor="let movie of movies">
    <h2 (click)="movieClicked(movie)">{{movie.title}}</h2>
  </li>
</ul>
<hr>
Title <input type="text" [(ngModel)]="selectedMovie.title"/><br>
Desc <input type="text"[(ngModel)]="selectedMovie.desc"/><br>
Year <input type="text"[(ngModel)]="selectedMovie.year"/><br>

<button (click)="updateMovie()" > PUT </button>
<button (click)="createMovie()" > POST </button>
<button (click)="deleteMovie()" > DELETE </button>

<app-search-bar (newLinkEvent)="getVideoID($event)"></app-search-bar>

<app-video-view [parentData]="videoId"></app-video-view>

<app-history [parentLink]="currentLink"
            [parentHistory]="requestedLinks"
            (newHistoryLinkEvent)="getVideoID($event)"
           
></app-history>
