<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto"></header>
  <main class="px-3">
    <h1>Welcome to the the ReliefApplication YouTube player.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>
  <hr>

<app-search-bar (newLinkEvent)="getVideoID($event)"></app-search-bar>

<app-video-view *ngIf='videoId' [parentData]="videoId"></app-video-view>

<app-bookmarks [addBookmark]='addBookmark'
                [getBookmarks]='getBookmarks'
                [parentBookmarks]='bookmarks'
                [getNumberBookmarks]='getNumberBookmarks'
                [parentNumberOfBookmarks]='numberOfBookmarks'
                
></app-bookmarks>

<app-history [parentLink]="currentLink"
            [parentHistory]="requestedLinks"
            (newHistoryLinkEvent)="getVideoID($event)"
           
></app-history>


<footer class="mt-auto text-white-50">
  <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
</footer>
</div>